In [13]:
 #Import the nessecery libraries
import pandas as pd
from pathlib import Path
import numpy as np
import hvplot.pandas
import matplotlib.pyplot as plt
from sklearn import svm
from sklearn.preprocessing import StandardScaler
from pandas.tseries.offsets import DateOffset
from sklearn.metrics import classification_report

In [14]:
gold_data= pd.read_csv(
    Path("Resources/gold.csv"), 
    index_col='DATE', 
    infer_datetime_format=True, 
    parse_dates=True
)
gold_data.head()

           GOLDPRUSD
DATE
2017-01-09    1176.1
2017-01-10    1183.2
2017-01-11   1187.55
2017-01-12   1206.65
2017-01-13   1196.35

In [15]:
silver_data=pd.read_csv(
    Path("Resources/Silver.csv"), 
    index_col='DATE', 
    infer_datetime_format=True, 
    parse_dates=True
)
silver_data.head()

           SLVPRUSD
DATE
2017-10-02    16.58
2017-10-03    16.61
2017-10-04   16.825
2017-10-05    16.66
2017-10-06   16.625

In [16]:
copper_data= pd.read_csv(
    Path("Resources/Copper.csv"), 
    index_col='DATE', 
    infer_datetime_format=True, 
    parse_dates=True
)

copper_data.head()

              PCOPPUSDM
DATE
1990-01-01  2365.556991
1990-02-01  2358.943400
1990-03-01  2625.702723
1990-04-01  2685.226891
1990-05-01  2740.342391

In [17]:
nickel_data=pd.read_csv(
    Path("Resources/Nickel.csv"), 
    index_col='DATE', 
    infer_datetime_format=True, 
    parse_dates=True
)
nickel_data.head()

            PNICKUSDM
DATE
1990-01-01     7056.0
1990-02-01     6977.0
1990-03-01     9267.0
1990-04-01     8939.0
1990-05-01     8698.0

In [18]:
frame=[gold_data,silver_data,copper_data,nickel_data]
commodity_df=pd.concat(frame)
commodity_df

           GOLDPRUSD SLVPRUSD  PCOPPUSDM    PNICKUSDM
DATE
2017-01-09    1176.1      NaN        NaN          NaN
2017-01-10    1183.2      NaN        NaN          NaN
2017-01-11   1187.55      NaN        NaN          NaN
2017-01-12   1206.65      NaN        NaN          NaN
2017-01-13   1196.35      NaN        NaN          NaN
...              ...      ...        ...          ...
2021-07-01       NaN      NaN        NaN  18818.51136
2021-08-01       NaN      NaN        NaN  19141.29667
2021-09-01       NaN      NaN        NaN  19376.87500
2021-10-01       NaN      NaN        NaN  19362.39286
2021-11-01       NaN      NaN        NaN  19932.86318

[3186 rows x 4 columns]