In [47]:
 #Import the nessecery libraries
import pandas as pd
from pathlib import Path

In [56]:
gold_data= pd.read_csv(
    Path("Resources/gold.csv") 
)
gold_data.head()

      DATE GOLDAMGBD228NLBM
0   1/9/17           1176.1
1  1/10/17           1183.2
2  1/11/17          1187.55
3  1/12/17          1206.65
4  1/13/17          1196.35

In [ ]:
silver_data=pd.read_csv(
    Path("Resources/Silver.csv")
)
silver_data.head()

      DATE SLVPRUSD
0  10/2/17    16.58
1  10/3/17    16.61
2  10/4/17   16.825
3  10/5/17    16.66
4  10/6/17   16.625

In [49]:
copper_data= pd.read_csv(
    Path("Resources/Copper.csv")
)
copper_data.head()

         DATE    PCOPPUSDM
0  1990-01-01  2365.556991
1  1990-02-01  2358.943400
2  1990-03-01  2625.702723
3  1990-04-01  2685.226891
4  1990-05-01  2740.342391

In [51]:
nickel_data=pd.read_csv(
    Path("Resources/Nickel.csv")
)
nickel_data.head()

     DATE  PNICKUSDM
0  1/1/90     7056.0
1  2/1/90     6977.0
2  3/1/90     9267.0
3  4/1/90     8939.0
4  5/1/90     8698.0